@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --clr-bg: #e7e7e9;
    --clr-fg: #d1bcab;
    --clr-accent: #f86f00;
    --clr-neutral: #6b6158;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: max-content;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-bg);
    font-family: "Inter", serif;
    overflow-y: scroll;
    overflow-x:visible;
}

.cleaning-expert-container {
    width: 100%;
    height: max-content;
    display: flex;
    padding: 1rem 5rem;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
}

.cleaning-expert-container .header-container {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-container div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-container div h3 {
    font-size: 2.7rem;
    letter-spacing: 0.5rem;
    margin: 2rem 0 2rem 5rem;
}

.header-container div img {
    width: 3rem;
}

.header-container nav ul {
    list-style: none; 
    display: flex;    
    padding: 0;   
    margin: 0 3rem 0 0;  
}

.header-container nav ul li {
    margin-left: 2rem
}

.header-container nav ul li a {
    font-size: 1.2rem; 
    color: black;         
    text-decoration: none; 
    transition: all 0.3s ease-in;
}

.cleaning-expert-container .main-cleaning-expert-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-image: url('../assets/images.jpg');
}

.main-cleaning-expert-container div {
    width: 50%;
    height: 80%;
    display: flex;
    padding: 1.5rem 0;
    margin: 2.5rem;
    border-radius: 4rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(1rem);
    background-color: hsla(0, 0%, 100%, 0.3);
}

.main-cleaning-expert-container div .tag-line {
    margin: 0 5rem;
}

.main-cleaning-expert-container div div {
    display: flex;
    width: max-content;
    height: max-content;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    background-color: transparent;
}

.main-cleaning-expert-container div div h6 {
    margin: 0 0 0 1rem;
    font-weight: 400;
    font-size: 1.1rem;
    text-align: center;
    letter-spacing: 0.2rem;
}

.main-cleaning-expert-container div div p span {
    margin: 0;
    font-size: 2rem;
    font-variation-settings: 'FILL' 1;
}

.header-container nav ul li a:hover {
    color: #f86f00;
    font-size: 1.5rem;
    text-decoration: underline;
}

.header-container nav ul li a:active {
    text-decoration: none;
    font-size: 1rem;
}